.flexbox{
    display: flex;
}
.flexbox.inline{
    display:inline-flex;
}
.flexbox.type-row{
    flex-direction:row;
}
.flexbox.type-row.reverse{
    flex-direction:row-reverse;
}
.flexbox.type-column{
    flex-direction:column;
}
.flexbox.type-column.reverse{
    flex-direction:column-reverse;
}
.flexbox.align-start{
    align-items:flex-start;
}
.flexbox.align-center,
.flexbox.center{
    align-items:center;
}
.flexbox.align-end{
    align-items:flex-end;
}
.flexbox.justify-start{
    justify-content:flex-start;
}
.flexbox.justify-center,
.flexbox.center{
    justify-content:center;
}
.flexbox.justify-end{
    justify-content:flex-end;
}
.flexbox.space-around{
    justify-content:space-around;
}
.flexbox.space-between{
    justify-content:space-between;
}
.flexbox.wrap{
    flex-wrap:wrap;
}